<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013.
  ~  游戏服务器核心代码编写人陈磊拥有使用权
  ~  联系方式：E-mail:13638363871@163.com ;qq:502959937
  ~  个人博客主页：http://my.oschina.net/chenleijava
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd ">


    <!--  jRedisConfig BinaryJedis对象池参数配置  pool 采用默认配置参数-->
    <bean id="jRedisConfig" class="springJredisCache.JRedisConfig">
        <property name="maxTotal" value="${jredis.pool.maxTotal}"/>
        <property name="maxWaitMillis" value="${jredis.pool.maxWaitMillis}"/>
        <property name="maxIdle" value="${jredis.pool.maxIdle}"/>
        <property name="testOnBorrow" value="${jredis.pool.testOnBorrow}"/>
        <property name="testWhileIdle" value="${jredis.pool.testOnReturn}"/>
    </bean>


    <!---->
    <bean id="jRedisPool" class="springJredisCache.JRedisPool">
        <constructor-arg index="0" ref="jRedisConfig"/>
        <constructor-arg index="1" value="${jredis.master.ip}"/>
        <constructor-arg index="2" value="${jredis.master.port}"/>
        <constructor-arg index="3" value="${jredis.timeout}"/>
        <constructor-arg index="4" value="${jredis.password}"/>
    </bean>
    <!--http://blog.csdn.net/larrylgq/article/details/7402908-->

</beans>



