<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2014.  @石头哥哥
  ~ THIS SOFTWARE IS PROVIDED BY THE FREEBSD PROJECT ``AS IS'' AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE FREEBSD PROJECT OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd ">


    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${jredis.pool.maxTotal}"/>
        <property name="maxWaitMillis" value="${jredis.pool.maxWaitMillis}"/>
        <property name="maxIdle" value="${jredis.pool.maxIdle}"/>
        <property name="testOnBorrow" value="${jredis.pool.testOnBorrow}"/>
        <property name="testWhileIdle" value="${jredis.pool.testOnReturn}"/>
    </bean>


    <!---->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="${jredis.master.ip}"/>
        <constructor-arg index="2" value="${jredis.master.port}"/>
        <constructor-arg index="3" value="${jredis.master.timeout}"/>
    </bean>


    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool" destroy-method="destroy">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1">
            <list>
                <bean class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg index="0" value="${jredis.master.ip}"/>
                    <constructor-arg index="1" value="${jredis.master.port}"/>
                    <constructor-arg index="2" value="${jredis.master.timeout}"/>
                </bean>
                <bean class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg index="0" value="${jredis.slave.ip}"/>
                    <constructor-arg index="1" value="${jredis.slave.port}"/>
                    <constructor-arg index="2" value="${jredis.slave.timeout}"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>

</beans>



