<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2013.
  ~  游戏服务器核心代码编写人陈磊拥有使用权
  ~  联系方式：E-mail:13638363871@163.com ;qq:502959937
  ~  个人博客主页：http://my.oschina.net/chenleijava
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd ">


    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${jredis.pool.maxTotal}"/>
        <property name="maxWaitMillis" value="${jredis.pool.maxWaitMillis}"/>
        <property name="maxIdle" value="${jredis.pool.maxIdle}"/>
        <property name="testOnBorrow" value="${jredis.pool.testOnBorrow}"/>
        <property name="testWhileIdle" value="${jredis.pool.testOnReturn}"/>
    </bean>


    <!---->
    <bean id="jedisPool" class="redis.clients.jedis.JedisPool">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1" value="${jredis.master.ip}"/>
        <constructor-arg index="2" value="${jredis.master.port}"/>
        <constructor-arg index="3" value="${jredis.master.timeout}"/>
        <constructor-arg index="4" value="${jredis.master.password}"/>
    </bean>


    <bean id="shardedJedisPool" class="redis.clients.jedis.ShardedJedisPool" destroy-method="destroy">
        <constructor-arg index="0" ref="jedisPoolConfig"/>
        <constructor-arg index="1">
            <list>
                <bean class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg index="0" value="${jredis.master.ip}"/>
                    <constructor-arg index="1" value="${jredis.master.port}"/>
                    <constructor-arg index="2" value="${jredis.master.timeout}"/>
                    <constructor-arg index="3" value="${jredis.master.weight}"/>
                    <property name="password" value="${jredis.master.password}"/>
                </bean>
                <bean class="redis.clients.jedis.JedisShardInfo">
                    <constructor-arg index="0" value="${jredis.slave.ip}"/>
                    <constructor-arg index="1" value="${jredis.slave.port}"/>
                    <constructor-arg index="2" value="${jredis.slave.timeout}"/>
                    <constructor-arg index="3" value="${jredis.slave.weight}"/>
                    <property name="password" value="${jredis.slave.password}"/>
                </bean>
            </list>
        </constructor-arg>
    </bean>

</beans>



